# Файлы, игнорируемые по умолчанию
/shelf/
/workspace.xml
# Игнорируемые файлы Rider
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.TgNoteBook.iml
# Запросы HTTP-клиента в редакторе
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
